<!DOCTYPE html>
<html lang="{{ app.request.locale }}">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <title>{% block title %}Symfony Demo application{% endblock %}</title>
    {#<link rel="alternate" type="application/rss+xml" title="{{ 'rss.title'|trans }}" >#}
    {% block stylesheets %}
        <link rel="stylesheet" href="{{ asset('build/css/bootstrap.min.css') }}">
        <link rel="stylesheet" href="{{ asset('build/css/font-awesome.min.css') }}">
        <link rel="stylesheet" href="{{ asset('build/css/ionicons.min.css') }}">
        <link rel="stylesheet" href="{{ asset('build/css/jquery-jvectormap.css') }}">
        <link rel="stylesheet" href="{{ asset('build/css/AdminLTE.min.css') }}">
        <link rel="stylesheet" href="{{ asset('build/css/skin-blue.min.css') }}">
        <link rel="stylesheet" href="{{ asset('build/css/dataTables.bootstrap.min.css') }}">
        <link rel="stylesheet" href="{{ asset('build/css/main.css?v=2') }}">
    {% endblock %}

    <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
</head>

<body id="{% block body_id %}{% endblock %}" class="login-page">
    {% block header %}
        <header>
            <nav class="navbar navbar-default navbar-fixed-top">
                <div class="container">
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        <a class="navbar-brand" href="{{ path('homepage') }}">Price tracker</a>
                    </div>
                    <div id="navbar" class="navbar-collapse collapse" aria-expanded="false" style="height: 1px;">
                        <ul class="nav navbar-nav">
                            <li>
                                <a class="nav-link" href="{{ path('tracker_add') }}">Add</a>
                            </li>
                        </ul>
                        <ul class="nav navbar-nav navbar-right">
                            <li class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Language <span class="caret"></span></a>
                                <ul class="dropdown-menu">
                                    {% for language in languages %}
                                        <li><a href="{{ language.url }}">{{ language.title }}</a></li>
                                    {% endfor %}
                                </ul>
                            </li>
                            {% if app.user %}
                                <li class="nav-item">
                                    <a class="nav-link" href="{{ path('security_logout') }}">{{ 'l.logout'|trans }}</a>
                                </li>
                            {% else %}
                                <li class="nav-item">
                                    <a class="nav-link" href="{{ path('security_login') }}">{{ 'l.login'|trans }}</a>
                                </li>
                            {% endif %}
                        </ul>
                    </div><!--/.nav-collapse -->
                </div>
            </nav>
        </header>
    {% endblock %}

    <div class="container body-container">
        {% block body %}
            <div class="row">
                <div id="main" class="col-sm-12">
                    {#{{ include('default/_flash_messages.html.twig') }}#}

                    {% block main %}{% endblock %}
                </div>
            </div>
        {% endblock %}
    </div>
    {% block flash %}
        {% for label, messages in app.flashes %}
            {% for message in messages %}
                <div class="flash-message flash-{{ label }}">
                    {{ message|trans }}
                </div>
            {% endfor %}
        {% endfor %}
    {% endblock %}

    {% block javascripts %}
        <script src="{{ asset('build/js/jquery.min.js') }}"></script>
        <script src="{{ asset('build/js/bootstrap.min.js') }}"></script>
    {% endblock %}
</body>
</html>
