{% extends 'profile.html.twig' %}

{% block contentHeader %}
{% endblock %}

{% block content %}
    <div class="box box-widget widget-user-2">
        <!-- Add the bg color to the header using any of the bg-* classes -->
        <div class="widget-user-header bg-yellow">
            <div class="widget-user-image">
                <img class="img-circle" src="{{ app.user.avatarFull }}" alt="User Avatar">
            </div>
            <!-- /.widget-user-image -->
            <h3 class="widget-user-username">{{ app.user.nickname }}</h3>
            <h5 class="widget-user-desc">{{ app.user.email }}</h5>
        </div>
    </div>

    <div class="row">
        <div class="col-md-3">

            <!-- Profile Image -->
            <div class="box box-primary">
                <div class="box-body box-profile">
                    <div class="box-profile_avatar">
                    <a href="{{ path('user_avatars') }}">
                        <img class="profile-user-img img-responsive img-circle" src="{{ app.user.avatarFull }}" alt="User profile picture">
                    </a>
                    </div>

                    <h3 class="profile-username text-center">{{ app.user.nickname }}</h3>

                    {#<p class="text-muted text-center">Software Engineer</p>#}

                    {#<ul class="list-group list-group-unbordered">#}
                        {#<li class="list-group-item">#}
                            {#<b>{{ 'l.success_tracked'|trans }}</b> <a class="pull-right">0</a>#}
                        {#</li>#}
                    {#</ul>#}

                    {#<a href="#" class="btn btn-primary btn-block"><b>Follow</b></a>#}
                </div>
                <!-- /.box-body -->
            </div>
            <!-- /.box -->

        </div>
        <!-- /.col -->
        <div class="col-md-9">
            <div class="nav-tabs-custom">
                <ul class="nav nav-tabs">
                    <li class="active"><a href="#settings" data-toggle="tab" aria-expanded="true">{{ 'l.settings'|trans }}</a></li>
                </ul>
                <div class="tab-content">


                    <div class="tab-pane active" id="settings">

                        {{ form_start(form, { 'attr': {'class': 'form-horizontal', 'id': 'user_edit', 'novalidate': 'novalidate'} }) }}
                            <div class="form-group">
                                <label for="inputEmail" class="col-sm-2 control-label">{{ 'l.nickName'|trans }}</label>

                                <div class="col-sm-10">
                                    {{ form_widget(form.nickName) }}
                                </div>
                            </div>

                            <div class="form-group">
                                <label for="inputName" class="col-sm-2 control-label">{{ 'l.email'|trans }}</label>

                                <div class="col-sm-10">
                                    {{ form_widget(form.email) }}
                                </div>
                            </div>

                            <div class="form-group">
                                <label for="inputName" class="col-sm-2 control-label">{{ 'l.oldPassword'|trans }}</label>

                                <div class="col-sm-10">
                                    {{ form_widget(form.oldPassword) }}
                                </div>
                            </div>

                            <div class="form-group">
                                <label for="inputName" class="col-sm-2 control-label">{{ 'l.newPassword'|trans }}</label>

                                <div class="col-sm-10">
                                    {{ form_widget(form.newPassword) }}
                                </div>
                            </div>

                            <div class="form-group">
                                <label for="inputName" class="col-sm-2 control-label">{{ 'l.repeatPassword'|trans }}</label>

                                <div class="col-sm-10">
                                    {{ form_widget(form.repeatPassword) }}
                                </div>
                            </div>

                            <div class="form-group">
                                <div class="col-sm-offset-2 col-sm-10">
                                    <button type="submit" class="btn btn-danger" id="save">{{ 'l.save'|trans }}</button>
                                </div>
                            </div>
                        {{ form_end(form) }}
                    </div>
                    <!-- /.tab-pane -->
                </div>
                <!-- /.tab-content -->
            </div>
            <!-- /.nav-tabs-custom -->
        </div>
        <!-- /.col -->
    </div>
{% endblock %}

