<div class="row">
    <div class="col-xs-12">
        <div class="box">
            <div class="box-header">
                <h3 class="box-title">Data Table With Full Features</h3>
            </div>
            <!-- /.box-header -->
            <div class="box-body">
                <div id="example1_wrapper" class="dataTables_wrapper form-inline dt-bootstrap">
                    <div class="row">
                        <div class="col-sm-12">
                            <table id="example1" class="table table-bordered table-striped dataTable HVFTable" role="grid"
                                   aria-describedby="example1_info">
                                <thead>

                                <tr role="row">
                                    {% for column in models.columns %}
                                    <th class="{{ column.sortClass }}" tabindex="0" aria-controls="example1" rowspan="1"
                                        colspan="1"
                                        data-sorturl="{{ column.sortUrl }}"
                                        aria-sort="ascending"
                                        aria-label="Rendering engine: activate to sort column descending"
                                        style="width: 231px;">{{ column.label|trans }}
                                    </th>
                                    {% endfor %}
                                </tr>
                                </thead>
                                <tbody>
                                {% for rows in models.data %}
                                    <tr role="row" class="odd">
                                        {% for row in rows %}
                                            <td>{{ row.value }}</td>
                                        {% endfor %}
                                    </tr>
                                {% endfor %}
                                </tbody>
                                <tfoot>
                                <tr>
                                    {% for column in models.columns %}
                                    <th rowspan="1" colspan="1">{{ column.label|trans }}</th>
                                    {% endfor %}
                                </tr>
                                </tfoot>
                            </table>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-7">
                            <div class="dataTables_paginate paging_simple_numbers" id="example1_paginate">
                                <ul class="pagination">
                                    <li class="paginate_button previous {{ models.pagination.prevClass }}" id="example1_previous">
                                        <a
                                            {% if  models.pagination.prevClass %}
                                                href="#"
                                            {% else %}
                                                href="{{ models.pagination.url }}{{ models.pagination.curPage - 1 }}"
                                            {% endif %}>
                                            Previous
                                        </a>
                                    </li>
                                    {% for i in models.pagination.startPage..models.pagination.endPage %}
                                        <li class="paginate_button {% if models.pagination.curPage == i %} active {% endif %}">
                                            <a href="{{ models.pagination.url }}{{ i }}" aria-controls="example1" data-dt-idx="1" tabindex="0">{{ i }}</a>
                                        </li>
                                    {% endfor %}
                                    <li class="paginate_button next {{ models.pagination.nextClass }}" id="example1_next">
                                        <a
                                            {% if  models.pagination.nextClass %}
                                                href="#"
                                            {% else %}
                                                href="{{ models.pagination.url }}{{ models.pagination.curPage + 1 }}"
                                            {% endif %}>
                                            Next
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- /.box-body -->
        </div>
    </div>
</div>
<script>
    function tableInit() {
        let elements = document.querySelectorAll('.HVFTable thead th');
        if (elements.length) {
            Array.prototype.slice.call(elements);
            elements.forEach(function (item) {
                let sortUrl = item.getAttribute('data-sorturl');
                if (sortUrl) {
                    item.addEventListener('click', function() {
                        window.location.href = sortUrl;
                    })
                }
            })
        }
    };

    document.addEventListener("DOMContentLoaded", tableInit);

</script>