{% extends 'profile.html.twig' %}

{% block contentTitle %}
    sdfsdfsdf
{% endblock %}

{% block content %}
    {{ form_start(form) }}
        {{ form_row(form.title) }}
        {{ form_row(form.url) }}
        {{ form_row(form.price) }}
        {{ form_row(form.percent) }}
        <button type="submit" class="btn btn-primary">Register!</button>
    {{ form_end(form) }}

{% endblock %}

