{% extends 'profile.html.twig' %}

{% block contentTitle %}
    {{ 'l.add'|trans }}
{% endblock %}

{% block breadcrumbAfter %}
    <li class="active">{{ 'l.add'|trans }}</li>
{% endblock %}

{% block content %}
    {{ form_start(form) }}
        {{ form_row(form.title) }}
        {{ form_row(form.url) }}
        {{ form_row(form.startPrice) }}
        {{ form_row(form.percent) }}
        <button type="submit" class="btn btn-primary">{{ 'l.add'|trans }}</button>
    {{ form_end(form) }}

{% endblock %}

