{% extends 'base.html.twig' %}

{#{% block javascripts %}#}
    {#{{ parent() }}#}
{#{% endblock %}#}

{% block main %}
    {{ form_start(form) }}
    {{ form_row(form.title) }}
    {{ form_row(form.url) }}
    {{ form_row(form.price) }}
    {{ form_row(form.percent) }}

    <button type="submit">Register!</button>
    {{ form_end(form) }}
{% endblock %}
