{% extends 'base.html.twig' %}

{% block javascripts %}
    {{ parent() }}
{% endblock %}

{% block body %}
    <div class="homepage-hero-module" style="margin-top: 50px;">


        <div class="login-box" style="margin-top:12%;">
            <!-- /.login-logo -->
            <div class="login-box-body">
                <p class="login-box-msg login-title">{{ 'l.authorization'|trans }}</p>

                <form action="{{ path('security_login') }}" id="login-form" method="post" style="margin-bottom: 10px;">
                    <input type="hidden" name="_csrf_token" value="{{ fos_csrf_provider.refreshToken('authenticate') }}"/>
                    <div class="form-group has-feedback">
                        <input type="email" id="username" name="_username" value="{{ last_username }}" placeholder="{{ 'l.email'|trans }}" class="form-control"/>
                        <span class="glyphicon glyphicon-envelope form-control-feedback"></span>
                    </div>
                    <div class="form-group has-feedback">
                        <input type="password" id="password" name="_password" placeholder="{{ 'l.password'|trans }}" class="form-control" />
                        <span class="glyphicon glyphicon-lock form-control-feedback"></span>
                    </div>
                    <div class="row">
                        <div class="col-xs-12">
                            <button type="submit" class="btn btn-block login-button">{{ 'l.login'|trans }}</button>
                        </div>
                    </div>
                </form>
                <!-- /.social-auth-links -->

                <a href="#">{{ 'l.forgot_password'|trans }}</a>
                <a style="float:right" href="{{ path('security_registration') }}" class="text-center">{{ 'l.registration'|trans }}</a>

            </div>
            <!-- /.login-box-body -->
        </div>


        <div class="video-container">
            <div class="filter"></div>
            <video autoplay loop class="fillWidth" poster="/build/video/Dc3.jpg" preload>
                <source src="/build/video/Dc3.mp4" type="video/mp4" />Your browser does not support the video tag. I suggest you upgrade your browser.
                <source src="/build/video/Dc3.webm" type="video/webm" />Your browser does not support the video tag. I suggest you upgrade your browser.
            </video>
            <div class="poster hidden">
                <img src="/build/video/Dc3.jpg" alt="">
            </div>

        </div>
    </div>
{% endblock %}
