{% extends 'base.html.twig' %}

{% block javascripts %}
    {{ parent() }}
{% endblock %}

{% block main %}
    {{ form_start(form, { 'attr': {'novalidate': 'novalidate'} }) }}
<fieldset>
    <legend><i class="fa fa-lock" aria-hidden="true"></i> {{ 'l.registration'|trans }}</legend>
    {{ form_row(form.email) }}
    {{ form_row(form.plainPassword.first) }}
    {{ form_row(form.plainPassword.second) }}

    <button type="submit" title=" {{ 'l.registration'|trans }}"> {{ 'l.registration'|trans }}</button>
</fieldset>
    {{ form_end(form) }}
{% endblock %}
