{% if data.total > 1 %}
<ul class="pagination">
    <li class="paginate_button previous {{ data.prevClass }}">
        <a
            {% if  data.prevClass %}
                href="#/"
            {% else %}
                href="{{ data.url }}{{ data.current - 1 }}"
            {% endif %}>
            {{ 'l.previous'|trans }}
        </a>
    </li>
    {% for i in data.start..data.end %}
        <li class="paginate_button {% if data.current == i %} active {% endif %}">
            <a href="{{ data.url }}{{ i }}">{{ i }}</a>
        </li>
    {% endfor %}
    <li class="paginate_button next {{ data.nextClass }}">
        <a
            {% if  data.nextClass %}
                href="#/"
            {% else %}
                href="{{ data.url }}{{ data.current + 1 }}"
            {% endif %}>
            {{ 'l.next'|trans }}
        </a>
    </li>
</ul>
{% endif %}