<!-- /.box-header -->
<div class="box-body no-padding gv2-container">
    <div class="mailbox-controls">
        <!-- Check all button -->
        <form class="gv2-form" method="post" action="{{ path('message_delete') }}">
            <button type="button" class="btn btn-default btn-sm gv2-checkAll"><i class="fa fa-square-o"></i>
            </button>
            <button type="submit" class="btn btn-default btn-sm gv2-delete"><i class="fa fa-trash-o"></i></button>
            <input type="hidden" name="id" value="" class="gv-id">
        </form>
        {% if models.pagination.totalPage > 1 %}
            <div class="pull-right">
                {{ models.pagination.fromCurPageItem }}-{{ models.pagination.toCurPageItem }}/{{ models.pagination.total }}
                <div class="btn-group">
                    <a
                            {% if  models.pagination.prevClass %}
                                href="#"
                            {% else %}
                                href="{{ models.pagination.url }}{{ models.pagination.curPage - 1 }}"
                            {% endif %}

                            class="btn btn-default btn-sm {{ models.pagination.prevClass }}"><i class="fa fa-chevron-left"></i></a>
                    <a
                            {% if  models.pagination.nextClass %}
                                href="#"
                            {% else %}
                                href="{{ models.pagination.url }}{{ models.pagination.curPage + 1 }}"
                            {% endif %}
                            class="btn btn-default btn-sm {{ models.pagination.nextClass }}"><i class="fa fa-chevron-right"></i></a>
                </div>
                <!-- /.btn-group -->
            </div>
        {% endif %}
        <!-- /.pull-right -->
    </div>
    {% if models.columns and models.data %}
    <div class="table-responsive mailbox-messages">
        <table class="table gv2-table table-hover table-striped">
            <tbody>
            {% for id, rows in models.data %}
                <tr>
                    <td><input type="checkbox" class="row-check" value="{{ id }}" style="position: absolute;"></td>
                    {% for key, row in rows %}
                        <td
                        {% if (row.colOptions.style is defined) %}
                            style="{{ row.colOptions.style }}"
                        {% endif %}
                        >
                        {% if row.raw %}
                            {{ row.value|raw }}
                        {% else %}
                            {{ row.value }}
                        {% endif %}
                        </td>
                    {% endfor %}
                    {% if models.actionColumn and models.actionColumn.options.buttons %}
                        <td class="td-actions"
                        {% if (models.actionColumn.options.colOptions.style is defined) %}
                              style="{{ models.actionColumn.options.colOptions.style }}"
                        {% endif %}
                        >
                            {% for button in models.actionColumn.options.buttons %}
                                {% if button == 'edit' %}
                                    <a href="{{ id }}/edit/" class="btn btn-action" title="{{ 'l.edit'|trans }}">
                                        <i class="fa fa-edit"></i>
                                    </a>
                                {% endif %}

                                {% if button == 'delete' %}
                                    <a href="delete/?id={{ id }}" class="btn btn-action" title="{{ 'l.delete'|trans }}">
                                        <i class="fa fa-trash-o"></i>
                                    </a>
                                {% endif %}

                                {% if button == 'view' %}
                                    <a href="{{ id }}/view/" class="btn btn-action" title="{{ 'l.view'|trans }}">
                                        <i class="fa fa-folder-open-o"></i>
                                    </a>
                                {% endif %}
                            {% endfor %}
                        </td>
                    {% endif %}
                </tr>
            {% endfor %}
            </tbody>
        </table>
        <!-- /.table -->
    </div>
    {% endif %}
    <!-- /.mail-box-messages -->
    <!-- /.box-body -->
    <div class="box-footer no-padding">
        <div class="mailbox-controls">
            <form class="gv2-form" method="post" action="{{ path('message_delete') }}">
                <button type="button" class="btn btn-default btn-sm gv2-checkAll"><i class="fa fa-square-o"></i>
                </button>
                <button type="submit" class="btn btn-default btn-sm gv2-delete"><i class="fa fa-trash-o"></i></button>
                <input type="hidden" name="id" value="" class="gv-id">
            </form>
            {% if models.pagination.totalPage > 1 %}
                <div class="pull-right">
                    {{ models.pagination.fromCurPageItem }}-{{ models.pagination.toCurPageItem }}/{{ models.pagination.total }}
                    <div class="btn-group">
                        <a
                                {% if  models.pagination.prevClass %}
                                    href="#"
                                {% else %}
                                    href="{{ models.pagination.url }}{{ models.pagination.curPage - 1 }}"
                                {% endif %}

                                class="btn btn-default btn-sm {{ models.pagination.prevClass }}"><i class="fa fa-chevron-left"></i></a>
                        <a
                                {% if  models.pagination.nextClass %}
                                    href="#"
                                {% else %}
                                    href="{{ models.pagination.url }}{{ models.pagination.curPage + 1 }}"
                                {% endif %}
                                class="btn btn-default btn-sm {{ models.pagination.nextClass }}"><i class="fa fa-chevron-right"></i></a>
                    </div>
                    <!-- /.btn-group -->
                </div>
            {% endif %}
            <!-- /.pull-right -->
        </div>
    </div>
</div>


<script>
    document.addEventListener("DOMContentLoaded", function() {
        function GridView2() {

            var init = () => {
                addEvents();
                this.table;
            };

            var addEvents = () => {

                var self = this;
                $('.gv2-checkAll').on('click', function() {
                    self.table = $(this).closest('.gv2-container').find('.gv2-table');
                    if ($(this).hasClass('checked')) {
                        $(this).removeClass('checked').find('i').removeClass('fa-check-square-o').addClass('fa-square-o');
                        toggleAllRows(self.table, false)
                    } else {
                        $(this).addClass('checked').find('i').removeClass('fa-square-o').addClass('fa-check-square-o');
                        toggleAllRows(self.table, true)
                    }
                });

                $('.gv2-form').on('submit', function() {
                    self.table = $(this).closest('.gv2-container').find('.gv2-table');
                    if (confirm('Are you sure?')) {
                        $('.gv-id').val(getIds().join());
                    } else {
                        return false;
                    }
                });
            };

            var toggleAllRows = (table, check) => {
                table.find('input.row-check').prop('checked', check);
            };

            var getIds = () => {
                var ids = [];
                this.table.find('.row-check:checked').each(function() {
                    ids.push($(this).val())
                });
                return ids;
            };

            init();
        }

        var gridView = new GridView2();
    });
</script>

<style>
    .btn.btn-action {
        border-radius: 3px;
        position: relative;
        padding: 0 0 0 2px;
        /* margin: 0 0 10px 10px; */
        min-width: 30px;
        height: 30px;
        text-align: center;
        color: #666;
        border: 1px solid #ddd;
        background-color: #f4f4f4;
        font-size: 21px;
    }
    .table>tbody>tr>td.td-actions {
        padding:3px 8px 0 8px;
    }
</style>