<!-- /.box-header -->
<div class="box-body">
    {% if models.columns and models.data %}
    <div id="example1_wrapper" class="dataTables_wrapper form-inline dt-bootstrap">
        <div class="row">
            <div class="col-sm-12">
                <table id="example1" class="table table-bordered table-striped dataTable HVFTable" role="grid"
                       aria-describedby="example1_info">
                    <thead>

                    <tr role="row">
                        {% for column in models.columns %}
                        <th class="{{ column.sortClass }}" tabindex="0" aria-controls="example1" rowspan="1"
                            colspan="1"
                            data-sorturl="{{ column.sortUrl }}"
                            aria-sort="ascending"
                            aria-label="Rendering engine: activate to sort column descending"
                            style="width: 231px;">{{ column.label|trans }}
                        </th>
                        {% endfor %}
                        {% if models.actionColumn %}
                            <th>{{ "l.actions"|trans }}</th>
                        {% endif %}
                    </tr>
                    </thead>
                    <tbody>
                    {% for id, rows in models.data %}
                        <tr role="row" class="odd">
                            {% for row in rows %}
                                {% if row.raw %}
                                    <td>{{ row.value|raw }}</td>
                                {% else %}
                                    <td>{{ row.value }}</td>
                                {% endif %}
                            {% endfor %}
                            {% if models.actionColumn %}
                            <td class="td-actions">
                                {% for option in models.actionColumn.options %}
                                    {% if option == 'edit' %}
                                        <a href="{{ id }}/edit/" class="btn btn-action" title="{{ 'l.edit'|trans }}">
                                            <i class="fa fa-edit"></i>
                                        </a>
                                    {% endif %}

                                    {% if option == 'delete' %}
                                        <a href="delete/?id={{ id }}" class="btn btn-action" title="{{ 'l.delete'|trans }}">
                                            <i class="fa fa-trash-o"></i>
                                        </a>
                                    {% endif %}

                                    {% if option == 'view' %}
                                        <a href="{{ id }}/view/" class="btn btn-action" title="{{ 'l.view'|trans }}">
                                            <i class="fa fa-folder-open-o"></i>
                                        </a>
                                    {% endif %}
                                {% endfor %}
                            </td>
                            {% endif %}
                        </tr>
                    {% endfor %}
                    </tbody>
                    <tfoot>
                    <tr>
                        {% for column in models.columns %}
                            <th rowspan="1" colspan="1">{{ column.label|trans }}</th>
                        {% endfor %}
                        {% if models.actionColumn %}
                            <th>{{ "l.actions"|trans }}</th>
                        {% endif %}
                    </tr>
                    </tfoot>
                </table>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-7">
                <div class="dataTables_paginate paging_simple_numbers" id="example1_paginate">
                    {% if models.pagination.totalPage > 1 %}
                    <ul class="pagination">
                        <li class="paginate_button previous {{ models.pagination.prevClass }}" id="example1_previous">
                            <a
                                {% if  models.pagination.prevClass %}
                                    href="#"
                                {% else %}
                                    href="{{ models.pagination.url }}{{ models.pagination.curPage - 1 }}"
                                {% endif %}>
                                Previous
                            </a>
                        </li>
                        {% for i in models.pagination.startPage..models.pagination.endPage %}
                            <li class="paginate_button {% if models.pagination.curPage == i %} active {% endif %}">
                                <a href="{{ models.pagination.url }}{{ i }}" aria-controls="example1" data-dt-idx="1" tabindex="0">{{ i }}</a>
                            </li>
                        {% endfor %}
                        <li class="paginate_button next {{ models.pagination.nextClass }}" id="example1_next">
                            <a
                                {% if  models.pagination.nextClass %}
                                    href="#"
                                {% else %}
                                    href="{{ models.pagination.url }}{{ models.pagination.curPage + 1 }}"
                                {% endif %}>
                                Next
                            </a>
                        </li>
                    </ul>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
    {% else %}
    No data
    {% endif %}
</div>
<!-- /.box-body -->
<script>
    function tableInit() {
        let elements = document.querySelectorAll('.HVFTable thead th');
        if (elements.length) {
            Array.prototype.slice.call(elements);
            elements.forEach(function (item) {
                let sortUrl = item.getAttribute('data-sorturl');
                if (sortUrl) {
                    item.addEventListener('click', function() {
                        window.location.href = sortUrl;
                    })
                }
            })
        }
    };

    document.addEventListener("DOMContentLoaded", tableInit);

</script>
<style>
    .btn.btn-action {
        border-radius: 3px;
        position: relative;
        padding: 0 0 0 2px;
        /* margin: 0 0 10px 10px; */
        min-width: 30px;
        height: 30px;
        text-align: center;
        color: #666;
        border: 1px solid #ddd;
        background-color: #f4f4f4;
        font-size: 21px;
    }
    .table>tbody>tr>td.td-actions {
        padding:3px 8px 0 8px;
    }
</style>