<!-- /.box-header -->

{% if models.filter and models.filter.fields %}

<div class="box box-default js-col-box {{ app.request.cookies.get('isOpen') ? '' : 'collapsed-box' }}">

    <div class="box-header with-border js-h-collapse filter-header"  data-widget="collapse">
        <h3 class="box-title">{{ "l.filter"|trans }}</h3>

        <div class="box-tools pull-right">
            <button type="button" class="btn btn-box-tool js-filter-collapse"><i class="fa fa-{{ app.request.cookies.get('isOpen') ? 'minus' : 'plus' }}"></i>
            </button>
        </div>
    </div>

    <div class="box-body" style="display: {{ app.request.cookies.get('isOpen') ? 'block' : 'none' }};">
        <form action="{{ models.filter.url }}" method="{{ models.filter.method }}">
            <div class="row">
                {% for field in models.filter.fields %}
                    <div class="form-group col-sm-6">
                        {% include 'fields/' ~  field.type  ~'.html.twig' with field %}
                    </div>
                {% endfor %}

                <div class="col-sm-12" style="text-align: right;">
                    <button type="submit"  class="btn btn-success">{{ "l.search"|trans }}</button>
                </div>
            </div>
        </form>
    </div>

</div>
{% endif %}


<div class="box">
    <div class="box-body">
    {% if models.columns and models.data %}
    <div id="example1_wrapper" class="dataTables_wrapper form-inline dt-bootstrap">
        <div class="row">
            <div class="col-sm-12">
                <table id="example1" class="table table-bordered table-striped dataTable HVFTable" role="grid"
                       aria-describedby="example1_info">
                    <thead>

                    <tr role="row">
                        {% for column in models.columns %}
                        <th class="{{ column.sortClass }}" tabindex="0" aria-controls="example1" rowspan="1"
                            colspan="1"
                            data-sorturl="{{ column.sortUrl }}"
                            aria-sort="ascending"
                            aria-label="Rendering engine: activate to sort column descending">
                            {{ column.label|trans }}
                        </th>
                        {% endfor %}
                        {% if models.actionColumn %}
                            <th>
                                {% if (models.actionColumn.options.label is defined) %}
                                    {{ "l.actions"|trans }}
                                {% else %}
                                    Actions
                                {% endif %}
                            </th>
                        {% endif %}
                    </tr>
                    </thead>
                    <tbody>
                    {% for id, rows in models.data %}
                        <tr role="row" class="odd">
                            {% for row in rows %}
                                <td
                                    {% if (row.colOptions.style is defined) %}
                                        style="{{ row.colOptions.style }}"
                                    {% endif %}
                                >
                                    {% if row.raw %}
                                        {{ row.value|raw }}
                                    {% else %}
                                        {{ row.value }}
                                    {% endif %}
                                </td>
                            {% endfor %}

                            {% if models.actionColumn and models.actionColumn.options.buttons %}
                            <td class="td-actions"
                                {% if (models.actionColumn.options.colOptions.style is defined) %}
                                    style="{{ models.actionColumn.options.colOptions.style }}"
                                {% endif %}
                            >
                                {% for button in models.actionColumn.options.buttons %}
                                    {% if button == 'edit' %}
                                        <a href="{{ id }}/edit/" class="btn btn-action" title="{{ 'l.edit'|trans }}">
                                            <i class="fa fa-edit"></i>
                                        </a>
                                    {% endif %}

                                    {% if button == 'delete' %}
                                        <a href="{{ id }}/delete/" onclick="return confirm('Are you sure?')" class="btn btn-action" title="{{ 'l.delete'|trans }}">
                                            <i class="fa fa-trash-o"></i>
                                        </a>
                                    {% endif %}

                                    {% if button == 'view' %}
                                        <a href="{{ id }}/view/" class="btn btn-action" title="{{ 'l.view'|trans }}">
                                            <i class="fa fa-folder-open-o"></i>
                                        </a>
                                    {% endif %}
                                {% endfor %}
                            </td>
                            {% endif %}
                        </tr>
                    {% endfor %}
                    </tbody>
                    <tfoot>
                    <tr>
                        {% for column in models.columns %}
                            <th rowspan="1" colspan="1">{{ column.label|trans }}</th>
                        {% endfor %}
                        {% if models.actionColumn %}
                            <th>{{ "l.actions"|trans }}</th>
                        {% endif %}
                    </tr>
                    </tfoot>
                </table>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-7">
                <div class="dataTables_paginate paging_simple_numbers" id="example1_paginate">
                    {% if models.pagination.totalPage > 1 %}
                    <ul class="pagination">
                        <li class="paginate_button previous {{ models.pagination.prevClass }}" id="example1_previous">
                            <a
                                {% if  models.pagination.prevClass %}
                                    href="#"
                                {% else %}
                                    href="{{ models.pagination.url }}{{ models.pagination.curPage - 1 }}"
                                {% endif %}>
                                {{ 'l.previous'|trans }}
                            </a>
                        </li>
                        {% for i in models.pagination.startPage..models.pagination.endPage %}
                            <li class="paginate_button {% if models.pagination.curPage == i %} active {% endif %}">
                                <a href="{{ models.pagination.url }}{{ i }}" aria-controls="example1" data-dt-idx="1" tabindex="0">{{ i }}</a>
                            </li>
                        {% endfor %}
                        <li class="paginate_button next {{ models.pagination.nextClass }}" id="example1_next">
                            <a
                                {% if  models.pagination.nextClass %}
                                    href="#"
                                {% else %}
                                    href="{{ models.pagination.url }}{{ models.pagination.curPage + 1 }}"
                                {% endif %}>
                                {{ 'l.next'|trans }}
                            </a>
                        </li>
                    </ul>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
    {% else %}
    No data
    {% endif %}
</div>
<!-- /.box-body -->
</div>

<script>
    function tableInit() {
        let elements = document.querySelectorAll('.HVFTable thead th');
        if (elements.length) {
            Array.prototype.slice.call(elements);
            elements.forEach(function (item) {
                let sortUrl = item.getAttribute('data-sorturl');
                if (sortUrl) {
                    item.addEventListener('click', function() {
                        window.location.href = sortUrl;
                    })
                }
            })
        }

        let filterCollapse = document.querySelector('.js-filter-collapse');
        let filterColBox = document.querySelector('.js-col-box');
        if (filterCollapse && filterColBox) {

            filterCollapse.addEventListener('click', function() {
                if (filterColBox.classList.contains('collapsed-box')) {
                    document.cookie = "isOpen=1";
                    //var cookieValue = document.cookie.replace(/(?:(?:^|.*;\s*)test2\s*\=\s*([^;]*).*$)|^.*$/, "$1");

                } else {
                    //document.cookie = "isFilterCollapsed=2";
                    document.cookie = "isOpen=1; expires=Thu, 01 Jan 1970 00:00:00 GMT";
                }
            })
        }
    };

    document.addEventListener("DOMContentLoaded", tableInit);

</script>
<style>
    .filter-header {
        cursor: pointer;
        transition: 0.3;
    }
    .filter-header:hover {
        background-color: #f9f9f9;
    }
    .btn.btn-action {
        border-radius: 3px;
        position: relative;
        padding: 0 0 0 2px;
        /* margin: 0 0 10px 10px; */
        min-width: 30px;
        height: 30px;
        text-align: center;
        color: #666;
        border: 1px solid #ddd;
        background-color: #f4f4f4;
        font-size: 21px;
    }
    .table>tbody>tr>td.td-actions {
        padding:3px 8px 0 8px;
    }
</style>